@import "variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  background-color: $primary_color;

  a {
    cursor: pointer;
  }

  .logo {
  }

  .profile {
    overflow: hidden;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: solid 3px $white_color;

    img {
      height: 100%;
      image-rendering: -webkit-optimize-contrast;
    }
  }
}
