@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white_color;
  font-family: "Source Sans Pro", sans-serif;
}
