<div class="container-home">
  <h1 class="title"></h1>
  <a *ngIf="!isLoggedin" href="https://127.0.0.1:443/auth/twitch">
    <button class="btn-brand">
      <img src="assets/svg/twitchGlitch.svg" />
      <div>Connexion avec Twitch</div>
    </button>
  </a>
  <a *ngIf="isLoggedin">
    <button class="btn-brand">
      <img src="assets/svg/clapper.svg" />
      <div>Découvrir des Clips</div>
    </button>
  </a>
</div>
