@import "variables.scss";

.container-home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: $primary_color;

  a {
    text-decoration: none;

    .btn-brand {
      background-color: $white_color;
      border: none;
      outline: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 1rem 2rem;
      border-radius: 5rem;
      cursor: pointer;
      transition: all 0.4s;

      div {
        font-size: 1rem;
        font-weight: bold;
        color: $secondary_color;
        font-family: "Source Sans Pro", sans-serif;
      }

      img {
        width: 1.5rem;
      }
    }
  }
}
